dist
dist.zip
build
live2d_tool.spec
.idea/
output/
assets/color_transfer.ico
assets/color_transfer.png
icon.ico
icon.png
config.json
color_transfer.spec
mtn.json
log.txt
error.log
.env
output_conf
lut
__pycache__

# Python virtual environment
.venv/
venv/
env/
ENV/
myenv/