# Binaries
*.exe
*.pkg
*.dll
*.pyd

# Python packaging
dist/
build/
*.egg-info/

# Python cache
__pycache__/
*.pyc
venv/
env/
myenv/

# Large Live2D files
*.moc
*.model3
textures/*.png
textures/*.jpg

# IDE
.vscode/
.idea/
__pycache__/
.claude/

# OS
.DS_Store
Thumbs.db
log.txt

lut/

四宫宁月/
output_conf/

# Python
__pycache__/
*.pyc
*.pyo

# Virtual env
venv/
myenv/

# Logs
*.log

# Env
.env

# Output
output/
